#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


/* Style pour la div du bouton "Contactez-moi" */
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

/* Style pour la partie gauche (nom, ville, description, bouton) */
.photographer-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

   
    
}

/* Style pour la photo du profil */
.photographer__portrait {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 50px;
}

/* style pour le nom et le prénom */

.photographer-info h2 {
    font-size: 64px;
    color: #D3573C;
    margin: 0;

}
/* style pour la ville */
.photographer-info h3 {
    font-size: 24px;
    color: #901c1c;

}
/* style pour la description */
.photographer-info h4 {
    font-size: 18px;
    color: #525252;

}

/* Styles pour la galerie */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 100px; /* Ajout de marges pour l'espacement */
}

/* Styles pour les éléments media */
.media-item {
    flex: 1 0 calc(33.33% - 1rem); /* 3 colonnes par défaut */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
}

.media-item img,
.media-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-title,
.media-likes {
    padding: 0.5rem;
    text-align: center;
    color:#901C1C;
    gap: 0.3rem;

}

.media-title-likes {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
  }
  
  .media-title-left {
    text-align: left; 
  }
  
  .media-likes-right {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }